
h1{
    margin-top: 0;
}
body{
    margin: 0;
    
}
.topContainer{
    background-color: #E4F9F5;
    border: solid 10px;
    padding: 20px;
    height: 200px;
    width: 200px;    
    
}
.middleContainer{
    background-color: red;
    height: 200px;
    width: 200px;
    border: solid 20px;
    


    
    

}
.bottomContainer{
    background-color: blue;
    height: 200px;
    width: 200px;
    border: solid 10px;
}