h1 {
    margin-top: 0;
}

h1 {
    text-align: center;
    width: 10;
    margin: 0 auto 0 auto;
}

p {
    text-align: center;
    width: 10;
    margin: 0 auto 0 auto;
}

.bottom-cloud {
    position: absolute;
}
.mountain{
   
    
   
}

.topContainer {
    background-color: #E4F9F5;
    height: 70%;
    width: 100%;
}

.middleContainer {
    background-color: red;
    height: 200px;
    width: 200px;
    border: solid 20px;

}

.bottomContainer {
    background-color: blue;
    height: 200px;
    width: 200px;
    border: solid 10px;
}